<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-6 col-lg-6" style="margin-top:-100px">
                <div class="boxed boxed--border  bg--secondary boxed--lg box-shadow">
                    <ul>
                        <li>
                            <span>
                                <b>Name:</b>
                            </span>
                            <span> George Lambrianides</span> 
                            <i class="material-icons" style="color:green;">done</i>
                        </li>
                    <li><span><b>Phone Number:</b></span><span> 99-780-894</span></li>
                    <li><span><b>District:</b></span><span> Limassol</span></li>
                    <li><span><b>Identification Number:</b></span><span>980670</span></li>
                    <li><span><b>Age:</b></span><span>18-35+</span></li>                
                    <li><span><b>Phone Number:</b></span><span>99 780 894</span></li>
                    <li><span><b>Post Code:</b></span><span>3320</span></li>
                    <li><span><b>Address:</b></span><span>Odysseos 5, Flat 208</span></li>
                    <li><span><b>Wallet:</b></span><span><a href="https://ropsten.etherscan.io/address/0xfebc3e8dfc3ddc887a1f97885c243d31442ee52f"> 0xFeBc3e8dfc3DDC887a1F97885c243d31442Ee52f</a></span></li>
                    <li><br><a class="btn btn--primary" href="#CreateAccount" data-model="#CreateAccount" data-toggle="modal"><span class="btn__text">Create account</span></a></li>
                </ul>
    
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6" style="margin-top:-100px">
                <div class="boxed boxed--border  bg--secondary boxed--lg box-shadow">
                        <ul>
                            <li>
                                <span>
                                    <b>DeepCity Tokens Balance:</b>
                                </span>3,500 DCTs ~ €5,000</li>
                        </ul>
                </div>
            </div>
        </div>
    </div>
</section>